<div class="container mt-4">

    <div *ngIf="!update">

        <div class="card shadow-sm">
            <div style="background-color: #E9B63B;" class="card-header text-white">
                <h5> Laisser un avis</h5>
            </div>

            <div class="card-body">
                <form (submit)="addAvis()" [formGroup]="formAvis">
                    <div class="row">

                        <div class="col-1">
                            <label for="note" class="form-label">Note /10</label>
                            <input type="number" class="form-control" id="note" formControlName="note"
                                [class.is-invalid]="formNoteCtrl.invalid && formNoteCtrl.touched" />
                            <div *ngIf="formNoteCtrl.hasError('required')" class="invalid-feedback">La note est
                                obligatoire
                            </div>
                            <div *ngIf="formNoteCtrl.hasError('value')" class="invalid-feedback">La note doit être
                                comprise
                                entre 0
                                et 10
                            </div>
                        </div>

                        <div class="col-5">
                            <label for="commentaire" class="form-label">Commentaire</label>
                            <textarea class="form-control" id="commentaire" formControlName="commentaire"
                                rows="2"></textarea>
                        </div>
                        <div class="col-auto" style="width: 150px;">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" class="form-control" id="date" formControlName="date" readonly/>
                        </div>

                        <div class="col">
                            <label for="livre" class="form-label">Livre</label>
                            <select class="form-control" id="livre" formControlName="livre"
                                [class.is-invalid]="formLivreCtrl.invalid && formLivreCtrl.touched"
                                [compareWith]="compareById">
                                <option *ngFor="let l of livres$ | async" [ngValue]="l">{{l.id}} - {{l.titre}}</option>
                            </select>
                            <div *ngIf="formLivreCtrl.hasError('required')" class="invalid-feedback">Le livre est
                                obligatoire
                            </div>
                        </div>
                    </div>

                    <button [disabled]="formAvis.invalid" type="submit"
                        class="btn btn-success w-100 mt-2">Ajouter</button>
                </form>
            </div>
        </div>
    </div>

    <div *ngIf="update">
        <div class="card shadow-sm">
            <div style="background-color: #E9B63B;" class="card-header text-white">
                <h3>Modifier un avis</h3>
            </div>

            <div class="card-body">
                <form (submit)="updateAvis()" [formGroup]="formUpdateAvis">
                    <div class="row">
                        <div class="col-1">
                            <label for="updateNote" class="form-label">Note /10</label>
                            <input type="number" class="form-control" id="updateNote" formControlName="note"
                                [class.is-invalid]="formUpdateNoteCtrl.invalid && formUpdateNoteCtrl.touched" />
                            <div *ngIf="formUpdateNoteCtrl.hasError('required')" class="invalid-feedback">La note est
                                obligatoire</div>
                            <div *ngIf="formUpdateNoteCtrl.hasError('min') || formUpdateNoteCtrl.hasError('max')"
                                class="invalid-feedback">
                                La note doit être comprise entre 0 et 10
                            </div>
                        </div>

                        <div class="col-5">
                            <label for="updateCommentaire" class="form-label">Commentaire</label>
                             <textarea class="form-control" id="updateCommentaire" formControlName="commentaire"
                                rows="2"></textarea>
                        </div>

                        <div class="col-auto" style="width: 150px;">
                            <label for="updateDate" class="form-label">Date</label>
                            <input type="date" class="form-control" id="updateDate" formControlName="date" readonly/>
                        </div>

                        <div class="col">
                            <label for="updateLivre" class="form-label">Livre</label>
                            <select class="form-control" id="updateLivre" formControlName="livre"
                                [class.is-invalid]="formUpdateLivreCtrl.invalid && formUpdateLivreCtrl.touched"
                                [compareWith]="compareById">
                                <option *ngFor="let l of livres$ | async" [ngValue]="l">{{l.id}} - {{l.titre}}</option>
                            </select>
                            <div *ngIf="formUpdateLivreCtrl.hasError('required')" class="invalid-feedback">Le livre est
                                obligatoire
                            </div>
                        </div>
                    </div>

                    <button [disabled]="formUpdateAvis.invalid" type="submit"
                        class="btn btn-success w-100 mt-2">Valider</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="card shadow border-0">

            <div style="background-color: #E9B63B;"
                class="card-header text-white d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Liste des avis</h5>
                <span class="badge bg-light text-dark">
                    {{ (avis$ | async)?.length || 0 }} avis
                </span>
            </div>

            <div class="table-responsive">

                <table class="table table-hover align-middle mb-0">
                    <thead class="table-light">
                        <tr>
                            <th>Note</th>
                            <th>Commentaire</th>
                            <th>Date</th>
                            <th>Livre</th>
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of avis$ | async">
                            <td class="fw-semibold">{{a.note}}</td>
                            <td style="max-width: 300px; overflow: hidden; text-overflow: ellipsis;">
                                {{a.commentaire}}</td>
                            <td>{{a.date}}</td>
                            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;">{{a.livreTitre}}
                            </td>
                            <td class="text-end"><button type="button" class="btn btn-warning mx-1"
                                    (click)="updatableAvis(a)">Modifier</button>
                                <button type="button" class="btn btn-danger  mx-1"
                                    (click)="deleteAvis(a.id)">Supprimer</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>




    </div>
</div>