<h1>Se connecter</h1>
<form (submit)="connexion()" [formGroup]="formConnexion">
<div>
    <div class="mb-3 row">
        <label for="username" class="col-sm-2 col-form-label">Nom d'utilisateur</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="username" formControlName="login" />
        </div>
        <div *ngIf="formLoginCtrl?.hasError('required')">Le libellé est obligatoire</div>
        <div *ngIf="formLoginCtrl?.hasError('lowercase')">Le login doit être saisi en minuscule
</div>
    </div>

    <div class="mb-3 row">
        <label for="password" class="col-sm-2 col-form-label">Mot de passe</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" formControlName="password" />
        
        </div>
        <div *ngIf="formPasswordCtrl?.hasError('required')">Le mot de passe est obligatoire</div>
    </div>

    <div>
        <input [disabled]="formConnexion.invalid" type="submit" class="btn btn-success" value="Se connecter" />
    </div>
</div>
</form>

