<div class="container mt-4">

    <div class="card shadow-sm">
        <div class="card-header bg-success text-white">
            <h5 class="mb-0">Ajouter une collection</h5>
        </div>

        <div class="card-body">

            <form (submit)="addCollection()" [formGroup]="formCollection">

                <div class="mb-3">
                    <!--<input type="text" class="form-control" id="nom" [class.is-ivalid]="formNomCtrl.invalid"/>-->
                    <label class="form-label">Nom</label>
                    <input type="text" formControlName="nom" />
                    <div *ngIf="formNomCtrl.hasError('required')" class="invalid-feedback">Le nom est obligatoire</div>
                </div>

                <div>
                    <input [disabled]="formCollection.invalid" type="submit" class="btn btn-success" value="Ajouter" />
                </div>
            </form>
        </div>
    </div>

    <div class="container mt-4">

        <div class="card shadow border-0">

            <!-- HEADER -->
            <div class="card-header bg-success text-white d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Liste des collections</h5>
                <span class="badge bg-light text-dark">
                    {{ (collection$ | async)?.length || 0 }} auteurs
                </span>
            </div>

            <!-- TABLE -->
            <div class="table-responsive">

                <table class="table table-hover align-middle mb-0">
                    <thead class="table-light">
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let collection of collection$ | async">
                            <td>{{ collection.id }}</td>
                            <td>{{ collection.nom }}</td>
                            <td class="text-end">
                                <button class="btn btn-danger" (click)="deleteCollection(collection)">Supprimer</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>